services:
  postgres:
    image: postgres:15
    container_name: vado-postgres
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U vadmark -d vadodb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: vadmark
      POSTGRES_PASSWORD: 5125341
      POSTGRES_DB: vadodb
    volumes:
      - postgres-data:/var/lib/postgresql/data # том для сохранения БД
      - ./db:/docker-entrypoint-initdb.d # SQL-скрипты при старте
    networks:
      - vado-net
    command: >
      postgres  -c shared_buffers=64MB 
                -c work_mem=4MB 
                -c maintenance_work_mem=16MB
                -c max_connections=15
                -c effective_cache_size=256MB

  vado-server:
    image: ghcr.io/vadmark223/vado-server:latest
    container_name: vado-server
    ports:
      - "5556:5556"
      - "50051:50051" # gRPC
      - "8090:8090" # gRPC-web
    restart: unless-stopped
    env_file:
      - .env.prod
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - vado-net

volumes:
  postgres-data:

networks:
  vado-net: