services:
  postgres:
    image: postgres:15
    container_name: vado-postgres
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U vadmark -d vadodb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: vadmark
      POSTGRES_PASSWORD: 5125341
      POSTGRES_DB: vadodb
#    ports:
#      - "5432:5432" # Не пробрасываем порт, потому что локально уже запущен Postgres на этом порту
    volumes:
      - postgres-data:/var/lib/postgresql/data # том для сохранения БД
      - ./db:/docker-entrypoint-initdb.d # SQL-скрипты при старте

  vado-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vado-server
    ports:
      - "5556:5556"
      - "50051:50051" # gRPC
      - "8090:8090" # gRPC-web
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy # app ждет healthcheck БД

volumes:
  postgres-data:
