<!DOCTYPE html>
<html lang="ru">
<head>
    <title>gRPC-Web Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>gRPC-Web Test</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <div>
            <button id="pingBtn" class="btn">Ping</button>
            <button id="sayHelloBtn" class="btn">SayHello</button>
        </div>

        <pre id="result"></pre>
    </div>
</main>

{{ template "footer" . }}

<script type="module">
    import {pingServer, sayHello} from '/static/js/bundle.js';

    const resultBox = document.getElementById('result');
    const pingBtn = document.getElementById('pingBtn');
    const sayHelloBtn = document.getElementById('sayHelloBtn');

    function setStatus(message, isError = false) {
        resultBox.textContent = (isError ? '❌ ' : '✅ ') + message + '\n';
    }

    pingBtn.addEventListener('click', async () => {
        setStatus('Выполняется Ping...');
        try {
            const resp = await pingServer();
            setStatus('Response: run=' + resp.getRun());
        } catch (err) {
            setStatus(err.message, true);
        }
    });

    sayHelloBtn.addEventListener('click', async () => {
        setStatus('Выполняется Say hello...')
        try {
            const resp = await sayHello('asd');
            setStatus('Ответ: message=' + resp.getMessage());
        } catch (err) {
            setStatus(err.message, true);
        }
    })
</script>

</body>
</html>