<!DOCTYPE html>
<html lang="ru">
<head>
    <title>gRPC-Web Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>gRPC-Web Test</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <div>
<!--            <button class="btn" onclick="testHealth()">Test Health</button>-->
            <button id="pingButton" class="btn">Test Ping (gRPC-Web)</button>
<!--            <button class="btn" onclick="testSayHelloRaw()">Say hello</button>-->
        </div>

        <pre id="result"></pre>
    </div>

    <script src="/static/js/bundle.js"></script>
<!--    <script src="/static/js/grpc.js"></script>-->
</main>

{{ template "footer" . }}

</body>
</html>