<!DOCTYPE html>
<html lang="ru">
<head>
    <title>gRPC-Web Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/google-protobuf@3.21.2/google-protobuf.js"></script>
    <script>
        window.grpc = {
            web: {
                MethodType: { UNARY: 0 },
                MethodDescriptor: function (name, type, req, res, serialize, deserialize) {
                    this.name = name;
                    this.type = type;
                    this.req = req;
                    this.res = res;
                    this.serialize = serialize;
                    this.deserialize = deserialize;
                },
                GrpcWebClientBase: class {
                    constructor() {}
                    rpcCall(url, request, metadata, methodDesc, callback) {
                        // Простейший HTTP fetch для grpcwebtext-запроса (работает с grpcwebproxy)
                        const body = request.serializeBinary();
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/grpc-web-text',
                                'X-Grpc-Web': '1',
                                ...metadata
                            },
                            body
                        })
                            .then((r) => r.arrayBuffer())
                            .then((buf) => {
                                const resp = methodDesc.deserialize(new Uint8Array(buf));
                                callback(null, resp);
                            })
                            .catch((err) => callback(err));
                    }
                }
            }
        };
    </script>
    <script src="/static/js/pb/hellorequest.js"></script>
    <script src="/static/js/pb/helloresponse.js"></script>
    <script src="/static/js/pb/hello_grpc_web_pb.js"></script>
</head>
<body>
<h3>gRPC-Web Hello Test</h3>
<input id="name" placeholder="Имя">
<button onclick="sayHello()">Отправить</button>
<pre id="out"></pre>

<script>
    function sayHello() {
        const client = new proto.HelloServiceClient('http://localhost:8090', null, {
            'debug': true
        });
        const req = new proto.HelloRequest();
        req.setName(document.getElementById('name').value);

        client.sayHello(req, {}, (err, res) => {
            const out = document.getElementById('out');
            if (err) {
                out.textContent = 'Ошибка: ' + err.message;
            } else {
                out.textContent = 'Ответ: ' + res.getMessage();
            }
        });
    }
</script>
</body>
</html>