<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vado Task Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Vado Task Manager ({{.mode}})</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        {{if .is_auth}}
        <h3>Debugging</h3>
        <p>JWT token expires: {{.token_expire_at}} (via {{.token_remaining}})</p>
        <p>JWT refresh token expires: {{.refresh_token_expire_at}} (via {{.refresh_token_remaining}})</p>
        {{else}}
        <p>You must log in...</p>
        {{end}}
    </div>
</main>

<footer>
    <span>© 2025 Vado</span>
</footer>
</body>
</html>