<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <form class="form-add" method="POST" action="/login">
            <label>
                <input name="login" placeholder="Login" required>
            </label>
            <label>
                <input name="password" type="password" placeholder="Password" required>
            </label>
            <div>
                <button id="submitBtn" class="btn" type="submit">Log in</button>
                {{if .error}}<span class="error-msg">{{.error}}</span>{{end}}

            </div>
            <span>
                <a href="/register">Sign up</a>
            </span>
        </form>
    </div>
    <script>
        const loginInput = document.querySelector('input[name="login"]');
        const passwordInput = document.querySelector('input[name="password"]');
        const submitBtn = document.getElementById("submitBtn")

        loginInput.addEventListener("input", updateState);
        passwordInput.addEventListener("input", updateState);

        function updateState() {
            const login = loginInput.value.trim();
            const password = passwordInput.value.trim();
            setDisabledSubmitBtn(login, password);
        }

        function setDisabledSubmitBtn(login, password) {
            submitBtn.disabled = login === "" || password === "";
        }

        updateState();
    </script>
</main>

{{ template "footer" . }}

</body>
</html>