<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Log in</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <form class="vado-add-form" method="POST" action="/login">
            <label>
                <input name="username" placeholder="Username" required>
            </label>
            <label>
                <input name="password" type="password" placeholder="Password" required>
            </label>
            {{if .Error}}<p class="error">{{.Error}}</p>{{end}}
            <button class="btn" type="submit">Log in</button>
            <p><a href="/register">Sign up</a></p>
        </form>
    </div>
</main>

{{ template "footer" . }}

</body>
</html>