{{ define "menu" }}
<div class="vado-menu">
    <div>
        <a href="/" class="btn"><i class="fa-solid fa-house"></i></a>
        <a href="/tasks" class="btn"><i class="fa-solid fa-list-check"></i></a>
        <a href="/users" class="btn"><i class="fa-solid fa-users"></i></a>
        <a href="/chat" class="btn"><i class="fa-solid fa-comment"></i></a>
        <a href="/grpc-test" class="btn"><i class="fa-solid fa-j"></i></a>
    </div>

    <div class="vado-menu-info">
        <p>Hello, {{.username}}!</p>
        <p id="email"></p>
        {{if .is_auth}}
        <form action="/logout" method="POST" style="display:inline;">
            <button class="btn" id="logBtn">
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
            </button>
        </form>
        {{else}}
        <form action="/login" method="GET" style="display:inline;">
            <button class="btn">
                <i class="fa-solid fa-person-walking-arrow-right"></i>
            </button>
        </form>
        {{end}}
    </div>
</div>
{{ end }}