{{ define "menu" }}
<div class="vado-menu">
    <div>
        <a href="/" class="btn">Main</a>
        <a href="/tasks" class="btn">Tasks</a>
        <a href="/users" class="btn">Users</a>
        <a href="/roles" class="btn">Roles</a>
        <a href="/grpc-test" class="btn">gRPC-Web</a>
    </div>

    <div class="vado-user-info">
        <p>Hello, {{.user_id}}!</p>
        {{if .is_auth}}
        <form action="/logout" method="POST" style="display:inline;">
            <button class="btn">
                <i class="fa-solid fa-right-from-bracket"></i> Log out
            </button>
        </form>
        {{else}}
        <form action="/login" method="GET" style="display:inline;">
            <button class="btn">
                <i class="fa-solid fa-right-to-bracket"></i> Log in
            </button>
        </form>
        {{end}}
    </div>
</div>
{{ end }}