<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Roles</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <ul class="vado-list">
            {{range .Roles}}
            <li class="task-item">
                <div>
                    <h3>{{.Name}}</h3>
                </div>
            </li>
            {{else}}
            <p class="empty">No roles</p>
            {{end}}
        </ul>
    </div>
</main>

<footer>
    <a href="/" class="link">На главную</a>
</footer>
</body>
</html>