<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Roles</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <div class="scrollable-content">
            {{range .Roles}}
            <div class="task-item">
                <div>
                    <h3>{{.Name}}</h3>
                </div>
            </div>
            {{else}}
            <p class="empty">No roles</p>
            {{end}}
        </div>
    </div>
</main>

{{ template "footer" . }}
</body>
</html>