<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Roles</h1>
    {{ template "menu" . }}
</header>

<main>
    <div class="container">
        <div class="scrollable-content">
            <div class="vado-list">
                {{range .Roles}}
                <div class="vado-item">
                    <div>
                        <h3>{{.Name}}</h3>
                    </div>
                </div>
                {{else}}
                <p class="empty">No roles</p>
                {{end}}
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}
</body>
</html>