<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Tasks</h1>
    {{ template "menu" . }}
    <script>
        async function deleteTask(id) {
            if (!confirm('Delete task?')) return;

            const res = await fetch(`/tasks/${id}`, { method: 'DELETE' });
            if (res.ok) {
                document.getElementById(`task-${id}`).remove();
            } else {
                alert('Error deleting task');
            }
        }
    </script>
</header>

<main>
    <div class="container">
        <form class="add-form" action="/tasks" method="POST">
            <label>
                <input type="text" name="name" placeholder="Task name" required>
            </label>
            <label>
                <textarea name="description" placeholder="Description"></textarea>
            </label>
            <label>
                <input type="checkbox" name="completed"> Completed
            </label>
            <br>
            <button type="submit" class="btn"><i class="fa-solid fa-plus"></i></button>
        </form>

        <ul class="vado-list">
            {{range .Tasks}}
            <li class="task-item {{if .Completed}}completed{{end}}" id="task-{{.ID}}">
                <div>
                    <h3>{{.Name}}</h3>
                    <p>{{.Description}}</p>
                    <small>Created: {{.CreatedAt.Format "02.01.2006 15:04"}}</small>
                </div>

                <div>
                    <label>
                        <input type="checkbox" name="completed" {{if .Completed}}checked{{end}}>
                        Completed
                    </label>

                    <button class="btn-small btn-danger" onclick="deleteTask('{{.ID}}')"><i class="fa-solid fa-trash"></i></button>
                </div>
            </li>
            {{else}}
            <p class="empty">No tasks</p>
            {{end}}
        </ul>
    </div>
</main>

<footer>
    <a href="/" class="link">На главную</a>
</footer>
</body>
</html>