<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vado Task Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
<header>
    <h1>Vado Task Manager ({{.mode}})</h1>
</header>

<main>
    <div class="vado-menu">
        <div>
            <a href="/tasks" class="btn">Задачи</a>
            <a href="/users" class="btn">Пользователи</a>
            <a href="/roles" class="btn">Роли</a>
        </div>

        <div class="vado-user-info">
            <p>Привет, {{if .user_id}}{{.user_id}}{{else}}Гость{{end}}!</p>
            {{if .is_auth}}
            <form action="/logout" method="POST" style="display:inline;">
                <button class="btn">
                    <i class="fa-solid fa-right-from-bracket"></i> Выйти
                </button>
            </form>
            {{else}}
            <form action="/login" method="GET" style="display:inline;">
                <button class="btn">
                    <i class="fa-solid fa-right-to-bracket"></i> Войти
                </button>
            </form>
            {{end}}
        </div>
    </div>
</main>

<footer>
    <span>© 2025 Vado</span>
</footer>
</body>
</html>