<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vado Task Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Vado Task Manager ({{.Mode}})</h1>
</header>

<main>
    <div class="vado-menu">
        <div>
            <a href="/tasks" class="btn">Задачи</a>
            <a href="/users" class="btn">Пользователи</a>
            <a href="/roles" class="btn">Роли</a>
        </div>

        <div>
            {{if .IsAuth}}
            <form action="/logout" method="POST" style="display:inline;">
                <button class="btn">Выйти</button>
            </form>
            {{else}}
<!--            <a href="/login" class="btn">Войти</a>-->
            <form action="/login" method="GET" style="display:inline;">
                <button class="btn">Войти</button>
            </form>
            {{end}}
        </div>
    </div>
</main>

<footer>
    <span>© 2025 Vado</span>
</footer>
</body>
</html>